<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="__PUBLIC__/assets/pages/img/index/avatar.png"/>
    <title>土豆鸡快</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="author" content="zsy"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/pages/styles/nav.css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE STYLES -->
        <block name="style"></block>
    <!-- END PAGE STYLES -->
    
    <!-- BEGIN CORE PLUGINS -->
    <script src="__PUBLIC__/assets/global/plugins/jquery-2.1.1.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    
    <script type="text/javascript">
			(function(doc, win) {
		    var screenWidth = 0, size = 'M', root = doc.documentElement;
		    if (window.screen && screen.width) {
		        screenWidth = screen.width;
		        if (screenWidth > 1920) {
		            // 超大屏，例如iMac
		            size = 'L';
		        } else if (screenWidth < 480) {
		            // 小屏，如手机
		            size = 'S';
		        }
		    }
		    // 标记CSS
		    root.className = size;
		    console.log(doc.documentElement);
		    // 标记JS
		    win.SIZE = size;        
		})(document, window);
		</script>
</head>

<body>

<!-- BEGIN PAGE-HEADER -->
<section class="page-header">
	<header>
	  <input type="checkbox" id="toggle"/>
	  <label for="toggle" id="toggle-btn"></label>
	  <div class="nav-icon"></div>
	  <nav data-state="close">
	    <ul class="td-nav">
	      <li data-menu="task"><a href="javascript:;"><i></i>土土任务</a></li>
	      <li data-menu="statistics"><a href="javascript:;"><i></i>豆豆统计</a></li>
	      <li data-menu="calender"><a href="javascript:;"><i></i>小鸡日历</a></li>
	      <li data-menu="backward"><a href="javascript:;"><i></i>快快倒数</a></li>
	      <li data-menu="notes"><a href="javascript:;"><i></i>便签</a></li>
	    </ul>
	  </nav>
	</header>
	<div class="back"></div>
</section>
<!-- END PAGE-HEADER -->

<!-- BEGIN PAGE-BODY -->
    <section class="page-body">
        <block name="page-body"></block>
    </section>
<!-- END PAGE-BODY -->

<!-- BEGIN CORE PAGES -->
	<script src="__PUBLIC__/assets/pages/scripts/nav.js" type="text/javascript" charset="utf-8"></script>
<!-- END CORE PAGES -->
<!-- BEGIN CORE PLUGINS -->
  
    <script src="__PUBLIC__/assets/global/plugins/modernizr.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN CORE GLOBAL -->
    <script src="__PUBLIC__/assets/global/scripts/public.js" type="text/javascript"></script>
<!-- END CORE GLOBAL -->

<script type="text/javascript">
    /* GLOBAL URL */
    var _ROOT_ = '__ROOT__',
            _PUBLIC_ = '__PUBLIC__',
            _INDEX_ = '__APP__',
            _ACTION_ = '__ACTION__',
            _MODULE_ = '__MODULE__',
            _CONTROLLER_ = '__CONTROLLER__';
    window._ROOT_='__ROOT__';
    window._APP_='__APP__';
    window._ACTION_='{:U("")}';
    window._SELF_='{:urldecode("__SELF__")}';
</script>

<!-- BEGIN PAGE LEVEL SCRIPTS -->
    <block name="script"></block>
<!-- END PAGE LEVEL SCRIPTS -->

<block name="script-init"></block>

</body>
</html>