
html, body {
	margin: 0;padding: 0;
}

nav, nav ul {
	position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
nav {
  display: none;
  transform: scale(.3);
  transition: all .25s;
}

nav ul li {
  display: table;
  width: 100%;
  height: calc(100%/5);
  transition: all .3s ease .1s;
}
nav ul li a i {
	display: inline-block;
    margin-right: 10px;
	width: 30px;
	height: 30px;
}
nav ul li[data-menu=task] a {
	color: #f59c00;
}
nav ul li[data-menu=task] a i {    
	background: url(../img/index/nav.png) 0 0;
}
nav ul li[data-menu=statistics] a {
	color: #6587bf;
}
nav ul li[data-menu=statistics] a i {  
	background: url(../img/index/nav.png) 0 162px;
}
nav ul li[data-menu=calender] a {
	color: #f2546e;
}
nav ul li[data-menu=calender] a i {  
	background: url(../img/index/nav.png) 0 122px;
}
nav ul li[data-menu=backward] a {
	color: #5fb253;
}
nav ul li[data-menu=backward] a i {  
	background: url(../img/index/nav.png) 0 80px;
}
nav ul li[data-menu=notes] a {
	color: #e0bbe6;
}
nav ul li[data-menu=notes] a i {  
	background: url(../img/index/nav.png) 0 32px;
}

nav ul li a {
	display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 2.5em;
  letter-spacing: .2em;
  text-shadow: 0 0 3px rgba(155,155,155,.3);
  font-weight: 100;
}

nav ul li a:hover {
	background: rgba(255,255,255,.3);
}

#toggle {
	display: none;
}
  

#toggle + #toggle-btn,
.nav-icon {
	position: absolute;
  top: 25px;
  left: 30px;
  border-radius: 3px;
  cursor: pointer;
  
}

#toggle + #toggle-btn {
  height: 40px;
  width: 40px;
  z-index: 1000;
}
/* 三条杠 */
.nav-icon,
.nav-icon:before,
.nav-icon:after {
	position: absolute;
  height: 4px;
  width: 35px;
  margin: 18px 0;
  z-index: 900;
  border-radius: 3px;
  background: #000;
  transition: all .25s;
}
.nav-icon:before {
	content: "";
  margin-top: -10px;
}
.nav-icon:after {
	content: "";
  margin-top: 10px;
}

#toggle:checked ~ nav {
  display: block;
  margin-top: -10px;
  transform: scale(.8);    
  z-index: 900;
}
.S #toggle:checked ~ nav {
  margin -10px 0 0 -10px;
}
#toggle:checked ~ .nav-icon {
	background: rgba(216,74,41,0);
}

/* 这就是叉叉的形成  */
#toggle:checked ~ .nav-icon:before {
	transform: rotate(-225deg);
  margin-top: 0;
}

#toggle:checked ~ .nav-icon:after {
	transform: rotate(225deg);
  margin-top: 0;
}

#toggle:checked ~ nav ul li {
	transform: rotateY(0deg) scale(1);
}
 
.back {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #FAFAD2;
	background: linear-gradient(#fafad2,#f7bc55);
	z-index: 500;
}
