html,
body,
div,
i,
a {
	margin: 0;
	padding: 0;
}
body {
	overflow-y: hidden; /* 去掉竖直滚动条 */
}

/* 登录的名字 */
.hello {
	margin-top: 20px;
    font-size: larger;
}

/* 点鸡两个字 */
.title_div {
	position: fixed;
	top: 20%;
	left: 50%;
	margin: -50px 0 0 -125px;
	width: 250px;
	height: 100px;
}
.title_div .titlel {
	float: left;
	width: 80px;
	height: 100px;
	background-image: url(../img/index/titlel.png);
	background-size: cover;
}
.title_div .titler {
	display: none;
	float: right;	
	width: 170px;
	height: 100px; 
	background-image: url(../img/index/titler.png);
	background-size: cover;
}

/* 鸡踢蛋的动画 */
.kick {
	position: fixed;
	top: 55%;
	left: 50%;
	margin: -125px 0 0 -125px;
	width: 250px;
	height: 250px;
	background: url(../img/index/kick.png);
	background-position: 0 0; 

	animation: kick .8s steps(4) infinite;
	-moz-animation: kick .8s steps(4) infinite;
	-webkit-animation: kick .8s steps(4) infinite;
	-o-animation: kick .8s steps(4) infinite;
}

@keyframes kick {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -1000px 0; 
	}
}
@-moz-keyframes kick {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -1000px 0; 
	}
}
@-webkit-keyframes kick {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -1000px 0; 
	}
}
@-o-keyframes kick {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -1000px 0; 
	}
}

/* 图标 */
.logo {
	position: fixed;
	bottom: 10px;
	right: 10px;
	float: right;
	width: 50px;
	height: 50px;
	background-image: url(../img/index/logo.png); 
	background-size: cover;
}