<extend name="Public:frameset" />
<!-- BEGIN PAGE STYLES -->
<block name="style">
	<link href="__PUBLIC__/assets/pages/styles/user.css" rel="stylesheet" type="text/css"/>
</block>
<!-- END PAGE STYLES -->
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- BEGIN PAGE-BODY -->
<block name="page-body">
	
	<div class="container">
	  <div class="login" data-state="">
	    
	    <form action="" class="login-form">
	      <p class="login-title">请输入你的相关信息<br /></p>
	      <input type="text" placeholder="用户名" name="username"/><div class="nametip"></div>
	      <input type="text" placeholder="登陆账号（Username）" name="account"/><div class="notip"></div>
	      <input type="password" placeholder="登陆密码（Password）" name="password" /><div class="passwordtip"></div>
	      <input type="password" placeholder="确认密码" name="cpassword" /><div class="cpasswordtip"></div>
	    </form>
	    
	    <div class="login-button">
	    	<span class="login-icon icon-enter">注册</span>
	    	<span class="login-icon icon-ok"><span class="login-hi"></span><br><button class="login-button-conf OK">ENTER</button><br>
		    	<span class="login-small">or <a class="login-abort" href="javascript:;">exit</a>.</span>
	    	</span>
	    	<span class="login-icon icon-ko">
	    		<span class="login-hi"></span><br><button class="login-button-conf KO">RETRY</button>
	    	</span>
	    	<span class="login-icon icon-exit"><i class="fa fa-times" aria-hidden="true"></i></i></span>
	    </div>
	    
	  </div>
	  
	</div>

</block>
<!-- END PAGE-BODY -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<block name="script">
	<script type="text/javascript" src="__PUBLIC__/assets/pages/scripts/register.js" ></script>
</block>

